# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
# dependencies
/node_modules
/.pnp
.pnp.js
# testing
/coverage
# next.js
/.next/
/out/
# production
/build
# misc
.DS_Store
# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
# local env files
.env.local
.env.development.local
.env.test.local
.env.production.local
.vscode/settings.json
components/bk_header.js
styles/bk_global.css
styles/bk_Home.module.css
styles/Footer.module.css.map
styles/Header.module.css.map
styles/Home.module.css.map
styles/global.css.map
styles/utils.module.css.map
posts/posts/pre-rendering.md
posts/posts/ssg-ssr.md


.gitignore
components/menu.js
